/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* brought reset and varibles just incase */
/* reset or base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-light);
  color: var(--color-text);
  line-height: 1.6;
}

/* css vars */
:root {
  /* Colors */
  --color-primary: #ff2c2c;
  --color-dark: #0e0e0e;
  --color-bg: #111111;
  --color-light: #ffffff;
  --color-gray: #9e9e9e;
  --color-border: rgba(255, 255, 255, 0.1);

  /* Typography */
  --font-main: 'Poppins', sans-serif;

  /* Spacing */
  --section-padding: 8rem 0;
  --container-width: 1200px;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 20px;

  /* Glassy */
  --glass-bg: rgba(255, 255, 255, 0.05);
  --glass-bg-strong: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.15);
  --glass-blur: blur(12px);
  --glass-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);

  /* Transition */
  --transition: all 0.3s ease;
}